:root {
  /* Colors */
  --color-surface-base: #12110c;
  --color-pure-white: #ffffff;
  --color-ink-black: #000000;
  --color-warm-charcoal: #32302a;
  --color-glimmer-yellow: #fae366;
  --color-nav-scrim: #000000;

  /* Typography */
  --font-display-hero-family: Roboto Flex;
  --font-display-hero-size: 64.8889px;
  --font-display-hero-weight: 800;
  --font-display-hero-line-height: 77.8667px;
  --font-display-large-family: Roboto Flex;
  --font-display-large-size: 44.4444px;
  --font-display-large-weight: 800;
  --font-display-large-line-height: 53.3333px;
  --font-display-large-letter-spacing: -0.5px;
  --font-display-medium-family: Roboto Flex;
  --font-display-medium-size: 27.1111px;
  --font-display-medium-weight: 800;
  --font-display-medium-line-height: 32.5333px;
  --font-display-medium-letter-spacing: -0.25px;
  --font-display-small-family: Roboto Flex;
  --font-display-small-size: 22.4444px;
  --font-display-small-weight: 800;
  --font-display-small-line-height: 29.1778px;
  --font-display-xs-family: Roboto Flex;
  --font-display-xs-size: 20px;
  --font-display-xs-weight: 800;
  --font-display-xs-line-height: 28px;
  --font-heading-h2-family: Roboto;
  --font-heading-h2-size: 32px;
  --font-heading-h2-weight: 700;
  --font-heading-h2-line-height: 48px;
  --font-body-large-family: Roboto;
  --font-body-large-size: 16px;
  --font-body-large-weight: 400;
  --font-body-large-line-height: 24px;
  --font-body-medium-family: Roboto;
  --font-body-medium-size: 14px;
  --font-body-medium-weight: 400;
  --font-body-medium-line-height: 16px;
  --font-label-medium-family: Roboto;
  --font-label-medium-size: 14px;
  --font-label-medium-weight: 500;
  --font-label-medium-line-height: 14px;
  --font-label-spaced-family: Roboto;
  --font-label-spaced-size: 16px;
  --font-label-spaced-weight: 500;
  --font-label-spaced-line-height: 24px;
  --font-label-spaced-letter-spacing: 0.5px;
  --font-display-jumbo-family: Roboto;
  --font-display-jumbo-size: 40px;
  --font-display-jumbo-weight: 400;
  --font-display-jumbo-line-height: normal;

  /* Spacing */
  --spacing-spacing-1: 4px;
  --spacing-spacing-2: 5px;
  --spacing-spacing-3: 8px;
  --spacing-spacing-4: 10px;
  --spacing-spacing-5: 16px;
  --spacing-spacing-6: 20px;
  --spacing-spacing-7: 24px;
  --spacing-spacing-8: 26.7px;
  --spacing-spacing-9: 30px;
  --spacing-spacing-10: 32px;
  --spacing-spacing-11: 53.3px;
  --spacing-spacing-12: 56px;
  --spacing-spacing-13: 60px;
  --spacing-spacing-14: 80px;
  --spacing-spacing-15: 106.7px;
  --spacing-spacing-16: 120px;
  --spacing-spacing-17: 173.7px;

  /* Border Radius */
  --radius-radius-pill: 100px;
  --radius-radius-card: 8px;
  --radius-radius-button: 16px;
  --radius-radius-jumbo-pill: 420px;

}